@import "./iced.scss";

// Standardizes padding & margin for all browsers
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: $iced-white;
}

html {
  background-color: $iced-black;
}

// Useful Vertical & Horizontal fillers
.v-filler {
  flex-grow: 1;
}

.h-filler {
  width: 100%;
}
