// Iced constants
$iced-black: #222222;
$iced-white: #efefef;

$iced-main: #d4edff;
$iced-main-2: #99caf2;
$iced-main-3: #1e82bf;

$iced-accent: #9fd3b9;
$iced-accent-2: #6db597;
$iced-accent-3: #1b6356;

// Breakpoints

$extra-small: 600px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
