@import "./iced.scss";

.one-page-part {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container-headline {
  text-align: center;

  & * {
    margin: 0.5em;
  }
}

.button-cta {
  padding: 1em;
  margin: 0.5em;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid $iced-white;
  border-radius: 2px;

  transition: all 0.5s ease;

  &.primary {
    background-color: $iced-white;
    color: $iced-black;
  }

  &:hover {
    background-color: $iced-accent;
    color: $iced-white;
  }

  & > .primary {
    color: red;
  }
}

.container-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  background: linear-gradient(45deg, $iced-main-2, $iced-main-3);
}

.colored {
  &:nth-child(odd) {
    background: linear-gradient(225deg, $iced-main-3, $iced-main-2);
  }

  &:nth-child(even) {
    background: linear-gradient(135deg, $iced-main-2, $iced-main-3);
  }
}

.container-features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-feature {
  margin: 1em;
  text-align: center;

  display: flex;
  flex-direction: column;
  width: 33%;
}
