<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="global.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="header.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="footer.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="one_page.css", trailing_slash=false) }}">
    {% endblock css %}

    {% block font %}
    <link href="fonts/Montserrat.ttf" rel="stylesheet">
    {% endblock font %}

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS"
        href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    <div class="one-page-part gradient">
        {% include "partials/header.html" %}
        <div class="v-filler"></div>
        <div class="container-headline">
            <h1>{{ config.extra.headline }}</h1>
            <h2>{{ config.extra.subtitle }}</h2>
        </div>
        <div class="v-filler"></div>
        <div class="container-cta">
            <a href="/docs" class="button-cta primary">Get started</a>
            <a href="#features" class="button-cta">Learn more</a>
        </div>
        <div class="v-filler"></div>
    </div>

    <div class="one-page-part" id="features">
        <h1>Key Features</h1>
    </div>

    <div class="one-page-part" id="examples">
        <h1>Code Examples / Demo</h1>
    </div>

    <div class="one-page-part" id="call-to-action">
        <h1>Call to action</h1>
    </div>

    <div class="one-page-part" id="addtional-features">
        <h1>Additional features</h1>
    </div>

    {% include "partials/footer.html" %}

</body>

</html>